body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: left;
  color: #3f3f3f;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 26px 31px;
  max-width: 300px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="tel"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

form button {
  width: calc(48% - 10px);
  padding: 5px;
  font-size: 16px;
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  align-self: center;
  border: 1px black solid;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-container input[type="text"] {
  width: calc(80% - 10px);
  padding: 5px;
  font-size: 16px;
  max-width: 350px;
}

.search-container button {
  width: calc(15% - 10px);
  padding: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.contact-list {
}

.contact-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #100f0f;
  padding: 10px;
  gap: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.contact-list li span {
  font-size: 16px;
  width: 48%;
  display: block;
}

.contact-list li .name {
  margin-right: 10px;
}

.contact-list li button {
  padding: 5px;
  font-size: 14px;
}

.contact-detail {
  display: flex;
  gap: 8px;
  align-items: center;
}
